[Unit]
Description=MT_DESC
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
User=MT_USER
WorkingDirectory=MT_DIR/scripts
ExecStart=bash MT_DIR/scripts/start.sh &
RemainAfterExit=yes
ExecStop=bash MT_DIR/scripts/stop.sh &

[Install]
WantedBy=multi-user.target
